<!DOCTYPE html>
<html>
<head>
	<title>Destination Search</title>
</head>
<body style="background-color: #cad5e8">
	<h1>
	<p align="center">
		Select Your Preferred Holiday Destination
	</p>
	</h1>
	<h2><p align='center'>Find a Province to Explore</p></h2>

	<form action="/browse" method="GET">
		<select id="province" name="province">
			<option value="" selected>Choose Province</option>
			<option value="Alberta">Alberta</option>
			<option value="British Columbia">British Columbia</option>
			<option value="Manitoba">Manitoba</option>
			<option value="New Brunswick">New Brunswick</option>
			<option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
			<option value="Nova Scotia">Nova Scotia</option>
			<option value="Ontario">Ontario</option>
			<option value="Prince Edward Island">Prince Edward Island</option>
			<option value="Quebec">Quebec</option>
			<option value="Saskatchewan">Saskatchewan</option>
		</select>
		<button type="submit">Submit</button>
	</form>
	<br><br><br><br>
	<div>
		<ul>
			{% for i in places_output: %}
				<li><a href="http://127.0.0.1:5001/{{ places_output['city'] }}">{{ i }} - {{ places_output[i] }} - {{ places_output['city'] }}</a></li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>